html, body {
	background-color: #eee;
}



/* The white background content wrapper */

.container > .content {
	background-color: #fff;
	padding: 40px;
	margin: 0 -40px;
	/* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

footer {
	text-align: center;
	margin: 10px 0px;
}

blockquote {
	font-size: 1.15em;
	line-height: 1.4em;
	margin-top: 10px;
}

.nav li button.btn-info {
	margin-top: 5px;	
}

a {
	color: #1f9ad2;
}



div#custom-quote {
	position: relative;
}

blockquote#custom {
	position: absolute;
	width: 300px;
	height: 35px;
	top: 16px;
	left: 59px;
	
	background-color: #fff;
	padding: 9px;
	
    -webkit-border-radius:6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	
	border: 1px solid rgba(0,0,0,.2);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

#custom p {
	font-size: 1.3em;
}

#custom span {
	color: #666;
	font-size: ita;
}

blockquote#custom a {
	position: absolute;
	right: 10px;
	top: 0px;
}

blockquote#custom .arrow-left {
    width: 0;
    height: 0;
    position: absolute;
    left: -8px;
    top: 18px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent; 
    border-right:8px solid #fff;
}

blockquote#custom .arrow-left-border {
    width: 0;
    height: 0;
    position: absolute;
    left: -9px;
    top: 17px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent; 
    border-right: 9px solid rgba(0,0,0,.2);
}

